$color-black: #000;
$color-hover: #0067ee;
$color-bkg: #f3f3f3;
$color-bkg-hover: #fff;
$color-shadow: #292929;

$size-row: 40px;
$size-column: 10px;
$columns-key-standart: 3;
$columns-key-medium: 5;
$columns-key-double: 6;
$columns-key-wide: 8;
$columns-key-space: 20;
