@import "normalize.scss";
@import "reset.scss";
@import "fonts.scss";
@import "dimensions.scss";

body {
  padding: 5px;
}

#container {
  margin: 0 auto;
  padding: 5px;
  max-width: 768px;
  font-family: 'Roboto Mono';
  font-size:16px;
  border: 3px solid $color-black;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  #title {
    text-align: center;
    font-weight: normal;
    font-size:20px;
  }

  #keyboard {
    width: 100%;
    height: 100%;
  }

  .key {
    color: $color-black;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $color-bkg;
    border: 2px solid $color-black;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 4px #292929;

    &:hover {
      color: $color-hover;
      background-color: $color-bkg-hover;
    }

    &:active {
      box-shadow: 0 1px $color-shadow;
      transform: translateY(3px);
    }
  }

  .key.standard {
    width: $width-key-standart;
    height: $heigth-key-standart;
  }
}



