@import "normalize.scss";
@import "reset.scss";
@import "fonts.scss";
@import "dimensions.scss";

body {
  padding: 5px;
}

#container {
  margin: 0 auto;
  padding: 5px;
  max-width: 768px;
  height: fit-content;
  font-family: 'Roboto Mono';
  font-size:16px;
  border: 3px solid $color-black;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  #title {
    text-align: center;
    font-weight: normal;
    font-size:20px;
  }

  #main {
    margin: 0 auto;
    width: fit-content;
  }

  #keyboard {
    margin: 0 auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(47, $size-column);
    grid-template-rows: repeat(5, $size-row);
    gap: 5px;
  }

  .key {
    height: $size-row;
    color: $color-black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: $color-bkg;
    border: 2px solid $color-black;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 4px #292929;

    &:hover {
      color: $color-hover;
      background-color: $color-bkg-hover;
    }

    &.active {
      box-shadow: 0 1px $color-shadow;
      transform: translateY(3px);
    }
  }

  .key.standard {
    grid-column: span $columns-key-standart;
    font-size: 13px;
  }

  .key.medium {
    grid-column: span $columns-key-medium;
  }

  .key.double {
    grid-column: span $columns-key-double;
  }

  .key.wide {
    grid-column: span $columns-key-wide;
  }

  .key.space {
    grid-column: span $columns-key-space;
  }

}



