@import "normalize.scss";
@import "reset.scss";
@import "fonts.scss";

body {
  padding: 5px;
}

#container {
  margin: 0 auto;
  padding: 5px;
  max-width: 768px;
  font-family: 'Roboto Mono';
  font-size:16px;
  border: 3px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  #title {
    text-align: center;
    font-weight: normal;
    font-size:20px;
  }

  #keyboard {
    width: 100%;
    height: 100%;
  }
}


